@using Entity.DTOs.Blogs
@model BlogDto
@{
    ViewData["Title"] = "Blog Detay";
}

<div class="service-banner-img">
    <div class="ovrllay">
        @await Component.InvokeAsync("Header")
        <section id="banner" class="py-70">
            <div class="container ">
                <div class="row py-70 ">
                    <!-- #banner-text start -->
                    <div id="banner-text" class="col-md-12 text-c  ">
                        <div class="left-borders">
                            <h5 class="wow fadeInUp main-about_h" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">BLOG DETAYI</h5>

                        </div>

                    </div>
                    <!-- /#banner-text End -->
                </div>

            </div>
        </section>
    </div>
</div>
<section class="blog-details-area wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="blog-details-wrap">
                    <div class="blog-details-img">
                        <img src="@Model.Image.FileName" alt="">

                        @{
                            string imagePath = "/star-law-master/assets/images/blog/1.jpg"; // Varsayılan resim yolu
                            if (Model != null && Model.Image != null && !string.IsNullOrEmpty(Model.Image.FileName))
                            {
                                imagePath = $"~/images/{Model.Image.FileName}"; // Blogun resim yolunu ~ ile başlatarak alır
                            }
                        }

                        <img src="@Url.Content(imagePath)" alt="Blog Resmi">
                    </div>
                    <div class="blog-details-content wow fadeInUp">
                        <h3>@Model.Title</h3>
                        <p>@Html.Raw((@Model.Content))</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp">
                <aside class="right-sidebar">
                    <div class="search-sidebar mb-30">
                       @*  <form action="#">
                            <input type="text" name="search" placeholder="Search Here">
                            <button type="button" name="button"><i class="fa fa-search"></i></button>
                        </form> *@
                    </div>
                    @await Component.InvokeAsync("Categories")
                    
                </aside>
            </div>
        </div>
    </div>
</section>
